{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Time Table Generator</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/AddTeacher.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/Bootstrap.css' %}">
</head>
<body>
<div class="container">
<div class="jumbotron upper">
	<!--<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header" >
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        </button>s
	<a href="#" class="navbar-brand" >Add courses</a></div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">

		<li class="active lol"><a href="#">Add Teachers</a></li>
		<li><a href="#" class="lol left">AddClass Room</a></li>
		<li><a href="#" class="lol left">Create Time Table</a></li>
		
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><a href="#" class="lol left ">Logout</a></li>	
	</ul>
</div>
	</div>	
</nav>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container mark">
<form class="form-horizontal" >
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Teacher Id:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="Teacher Id">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="Enter Name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Mobile:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="Enter Mobile">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Emai:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success active">Submit</button>
     
    </div>
  </div>

</form>
</div>-->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="addcourse">Add Course</a>
  <a href="Teachers">Add Teacher</a>
  <a href="classroom">Add Classroom</a>
  <a href="createtimetable">Create Time Table</a>
  <a href="/">Logout</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<div class="container mark">
<form action="Teachers" method="post" class="form-horizontal" >
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-2" for="teacherId">Teacher Id:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="teacherId" placeholder="Teacher Id" name="teacherId">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="teacherName">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="teacherName" placeholder="Enter Name" name="teacherName" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="teacherPhone">Mobile:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="teacherPhone" placeholder="Enter Mobile" name="teacherPhone">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="teacherEmailId">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="teacherEmailId" placeholder="Enter email" name="teacherEmailId">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <!--<button type="submit" class="btn btn-success active" onclick="location.href='AddTeacher.html';"><a href="AddCourse.html">Submit</a></button>
      -->
      <input type="submit" class="btn btn-success active"  value="Submit" />
    </div>
  </div>

</form>
</div>
<div>
  <h4>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %} 
  </h4>
       
</div>
</body>
</html>