{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Time Table Generator</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
</head>
<body>

	<div id="upper">
</div>


<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header" >
		
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        </button>
	<a href="#" class="navbar-brand" >Time Table Generator</a></div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
    
		<li class="active"><a href="/about">About</a></li>
		<li><a href="login">Login</a></li>
		<li><a href="signup">SignUp</a></li>
	</ul>
	</div>
    </div>
	</nav>

	<script src="{% static 'js/jquery-3.4.1.js' %}" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
    
    <div class="last" >
    	<form action="login" method="post" class="form-horizontal" id="login" >
      <h2> Login </h2>
  <div class="form-group">
    {% csrf_token %}
    <label class="control-label col-sm-2" for="username">Username:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password ">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success active">Submit</button>
      <button type="Cancel" class="btn btn-danger active">Cancel</button>
    </div>
  </div>
<hr class="style1">
<br>
</form>	
</div>	
<div>
 <!-- {% for message in messages %}
  <h3>{{message}}</h3>
  {% endfor %} -->    
</div>
</body>
</html>