body{
  background: url(https://media.istockphoto.com/videos/white-clocks-flying-black-background-loopable-video-id159125058?s=640x640);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Lato", sans-serif;
}
.subject1Teachers{
  margin-top: 10px;
}
.subject2Teachers{
  margin-top: 10px;
}
.subject3Teachers{
  margin-top: 10px;
}
.subject4Teachers{
  margin-top: 10px;
}
.subject1Priority{
  margin-top: 10px;
}
.subject2Priority{
  margin-top: 10px;
}
.subject3Priority{
  margin-top: 10px;
}
.subject4Priority{
  margin-top: 10px;
}
.subject5Priority{
  margin-top: 10px;
}
.subject6Priority{
  margin-top: 10px;
}
.subject7Priority{
  margin-top: 10px;
}
.subjectno{
  margin-top: 10px;
}
#div5{
  display: none;
}
#div6{
  display: none;
}
#div7{
  display: none;
}

#div8{
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.bt{
  margin-left: 42%;
}
.upper{
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
